# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\jupyter programs\ineuron\webscrappper_text-master (1)\webscrappper_text-master\reviewScrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
